@page "/cities/create"
@using Application.Web.Client.Data.Repository
@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Add Citites</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <FormForCities City="city" OnValidSubmit="AddNewCity" />
    </div>
</div>
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <p>@errordescription</p>
</Modal>
@code {
    City city = new();
    string title = "Error notification";
    string errordescription = string.Empty;
    bool _visible = false;
    void AddNewCity()
    {
        try
        {
            bool result = _db.CreateNewCity(city);
            if (result)
            navManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _visible = true;
            errordescription = ex.ToString();
        }
    }
    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}
